extends layout

block content
  section.container
    div
      img(src="/images/federez-logo.svg", alt="Federez")
      h1.title Federez
      h2.subtitle A small project to show how to use Gitlab with OpenID Connect for authentication
      div.links
        a(href="/login", class="button-green") Connection
